@mixin mapSize() {
  display: block;
  height: 100vmin;
  width: 100vmin;
}

.map {
  &__wrapper {
    @include mapSize();
    position: relative;
  }

  &__svg {
    @include mapSize();
  }

  &__background {
    height: 100%;
  }
}
