@mixin mapSize() {
  height: 80vmin;
  width: 80vmin;
}

.map {
  &__wrapper {
    @include mapSize();
    position: relative;
  }

  &__svg {
    @include mapSize();
  }

  &__background {
    height: 100%;
  }
}
