.map-background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/paper.svg');
  background-size: cover;
  background-position: center center;

  &__svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__coordinate {
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1;
    stroke-miterlimit: 10;
  }
}
