@import '../../theme.scss';
@import '../../utils.scss';

.question-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: $primary;
    min-width: 400px;
    max-width: 80vmin;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
  }

  &__category {
    color: $white;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  &__question-wrapper {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
  }

  &__counter {
    flex: none;
    width: 2em;
    height: 2em;
    margin-left: 1em;
  }

  &__question {
    flex: 1 auto;
    color: $white;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5;
  }

  &__buttons {
    display: flex;
    align-items: row;
  }

  &__button {
    @include withTransition(background-color);
    display: flex;
    flex: 1 auto;
    padding: 0.5em;
    background-color: lighten($primary, 10);
    color: $white;
    border: 1px solid $white;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: darken($primary, 10);
    }
  }
}
