.game {
  &__wrapper {
    position: relative;
    display: flex;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
  }

  &__wheel {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
