@import '../theme';
@import '../utils';

.settings {
  padding: 1em;

  &__title {
    padding-bottom: 0.5em;
    color: $primary;
    border-bottom: 1px solid $primary;
  }

  &__section {
    padding: 1em;
  }

  &__action {
    @include withTransition(transform);
    transform: translateX(0);
    padding: 1em 0;
    cursor: pointer;

    &:hover {
      transform: translateX(1em);
    }
  }
}
